@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#viewProfile {
    display: flex;
    height: auto;
}

.sidebar--left {
    flex-basis: 15%;
    height: 93vh;
    border: none;
    left: 0;
    overflow-x: hidden;
    position: sticky;
    top: 0;
}


.main {
    height: auto;
    flex-basis: 120%;
    display: flex;
    flex-direction: column;
    background-color: rgba(116, 112, 233, 0.05);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: hidden;
    overflow-x: auto;
}

.titlePage {
    margin: 16px 20px;
    color: #1C1F27;
    font-weight: 600;
    font-size: 20px;
}

.profileUser1 {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    margin: 20px;
    /* height: -webkit-fill-available; */
}

.profileUser {
    display: grid;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    /* height: -webkit-fill-available; */
}

.profileUser__avatar {
    /* flex-basis: 50%; */
    border-right: 1px solid rgba(204, 204, 204, 0.6);
}

.basicInformationTitle {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.bigTitle {
    color: #7470E9;
    font-weight: 600;
    font-size: 16px;
}

.profileUser__avatar > img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    margin-top: 24px;
}

.profileUser__basicInfo {
    /* flex-basis: 50%; */
    padding-left: 12px;
    width: 98%;
}

.profileUser__editBtn {
    flex-basis: 15%;
}

.formBasicInfo {
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    padding-bottom: 20px;
    width: auto;
}


.formBasicInfo__name, .formBasicInfo__rollNumber, .formBasicInfo__curriculum, .formBasicInfo__professional,
.formBasicInfo__gender, .formBasicInfo__email, .formBasicInfo__alternativeEmail, .formBasicInfo__bio,
.formBasicInfo__wanttobegrouped, .formBasicInfo__semester, .formBasicInfo__expectRole {
    display: flex;
    margin-top: 32px;
}

.formBasicInfo__alternativeEmail {
    flex-direction: column;
}

    .formBasicInfo__alternativeEmail > p:first-child {
        margin-bottom: 20px;
    }

.filter {
    width: 100%;
    display: grid;
    margin: 32px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filterDropdown {
    display: grid;
    margin-right: 80px;
    grid-template-columns: 1fr 1fr;
}

    .filterDropdown select {
        width: 200px;
        height: 40px;
        margin-left: 20%;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        border: none;
        -moz-appearance: none;
        font-weight: 400;
        /* appearance: none; */
        -webkit-appearance: none;
        -moz-appearance: none;
        margin-top: -10px;
        color: black;
        font-weight: 500;
        opacity: 1;
    }

.filter .filterDropdown:last-child > .smallTitle {
    margin-left: 40%;
}

.smallTitle {
    font-size: 16px;
    font-weight: 500;
    flex-basis: 30%;
    /* padding-top: 8px; */
    margin-left: 12px;
    display: flex;
}

.formContactInfo__phoneNumber > p:first-child, .formContactInfo__email > p:first-child,
.formContactInfo__facebook > p:first-child {
    /* flex-basis: 30%; */
}

.alternativeMail > p:first-child, .passalternativeMail > p:first-child {
    padding-top: 0;
}


b {
    color: #F74055;
    margin-left: 4px;
    margin-right: 10px;
}

.informInput {
    display: grid;
    margin-left: 10px;
    /* flex-direction: column; */
    width: 60%;
    /* grid-template-columns: 1fr 1fr; */
}



.showErrorMessage {
    font-size: 16px;
    font-weight: 600;
    color: #F74055;
    width: 100%;
    margin-left: 50%;
}

#errorphoneContactInfo, #errorpassalternativeMailInput, #errorconfirmpassalternativeMailInput, #errorOldPasswordAlternativeMail, #errornewpassalternativeMailInput, #errorconfirmnewpassalternativeMailInput {
    text-align: start;
    margin-left: 0;
}

#errorVerifyOldEmail, #errordesAlternativeEmailInput, #errorVerifyCodeInput {
    text-align: start;
    margin-left: 16%;
}



input {
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding-top: 0px;
}

    input:focus {
        border: 1px solid #3866e6;
    }

    input:disabled {
        border: none;
        background-color: #FFFFFF;
    }

#bioInfo {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    resize: none;
}

    #bioInfo:focus {
        border: 1px solid #3866e6;
    }

    #bioInfo:disabled {
        border: none;
        background-color: #FFFFFF;
    }

#nameBasicInfo {
    font-size: 20px;
    font-weight: 600;
    padding-top: 0px;
    text-align: center;
}

.content, .selectGender, .selectWantToBeGrouped, .alternativeMail, .passalternativeMail {
    font-size: 16px;
    font-weight: 400;
    flex-basis: 70%;
    /* padding: 8px; */
}

.selectGender, .selectWantToBeGrouped {
    display: flex;
}

input[type=radio] {
    display: none;
}

.selectGender label {
    margin-right: 40px;
    position: relative;
    cursor: pointer;
}

.selectWantToBeGrouped label {
    position: relative;
    cursor: pointer;
}

    .selectGender label::before, .selectWantToBeGrouped label::before {
        content: "";
        border: 2px solid #ccc;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: -8px 0;
        margin-right: 8px;
        border-radius: 50%;
    }

    .selectGender label::after, .selectWantToBeGrouped label::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: rgba(34, 34, 34, 0);
        left: 4px;
        top: 60%;
        margin: -8px 0;
        border-radius: 50%;
        transition: all 0.4s;
    }

input[type=radio]:checked + label::before {
    border: 2px solid #7470E9;
}

input[type=radio]:checked + label::after {
    background-color: #7470E9;
}

input[type=radio]:checked:disabled + label::before {
    border: 2px solid rgba(116, 112, 233, 0.5);
}


input[type=radio]:checked:disabled + label::after {
    background-color: rgba(116, 112, 233, 0.5);
}

.alternativeMail, .passalternativeMail {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.addMailNotifi {
    margin-right: 35px;
    color: #F74055;
}

.alternativeMail button,
.passalternativeMail button {
    width: 100px;
    color: #7470E9;
    border: 1px solid #7470E9;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    margin: 8px;
}

.contactInfomation {
    margin: 20px 10px 0 0;
}

.formContactInfo__phoneNumber, .formContactInfo__email, .formContactInfo__facebook {
    display: grid;
    /* margin-top: 24px; */
    grid-template-columns: 1fr 2fr;
    /* margin-bottom: 24px; */
}

#faceBookContactInfo {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    resize: none;
    margin-bottom: 8px;
}

    #faceBookContactInfo:focus {
        border: 1px solid #3866e6;
    }

    #faceBookContactInfo:disabled {
        border: none;
        background-color: #FFFFFF;
    }

.editProfile {
    width: 160px;
    height: 48px;
    background-color: #7470E9;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

    .editProfile i {
        margin-right: 8px;
    }

.button {
    width: 100%;
    justify-content: flex-end;
    margin: 20px 0;
    display: none;
    margin-left: -290px;
}

    .button button {
        width: 100px;
        height: 48px;
        padding: 0 24px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

.btnCancel {
    background-color: rgba(28, 31, 39, 0.05);
    color: rgba(28, 31, 39, 0.8);
    margin-right: 20px;
}

.btnSave {
    background-color: #7470E9;
    color: #FFFFFF;
}

.alternativeMail__popup {
    width: 100%;
    height: 117vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.verifyAlternativeMail__popup {
    width: 100%;
    height: 117vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.setPasswordForAlternativeMail__popup {
    width: 100%;
    height: 117vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.verifyChangeAlternativeMail__popup {
    width: 100%;
    height: 117vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.changePassword__popup {
    width: 100%;
    height: 117vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.setPassword__popup {
    width: 100%;
    height: 117vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


.hide-form {
    display: none;
}

.inputMailpopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    background-color: #FFFFFF;
    position: relative;
    left: 40%;
    top: 30%;
    border-radius: 8px;
}

    .inputMailpopup > p:first-child {
        font-size: 20px;
        font-weight: 600;
        margin: 20px;
    }

    .inputMailpopup > p:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        width: 80%;
    }

.alternativeEmail__popup {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 85%;
}

    .alternativeEmail__popup > p:first-child {
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0;
    }

    .alternativeEmail__popup > input {
        height: 48px;
        border: 1px solid #ccc;
    }

        .alternativeEmail__popup > input:focus {
            border: 1px solid #3866e6;
        }

.buttonPopup {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

    .buttonPopup button {
        border-radius: 8px;
        width: 100px;
        height: 48px;
        border: none;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

.cancelBtn {
    background-color: rgba(28, 31, 39, 0.05);
    color: rgba(28, 31, 39, 0.8);
    margin-right: 20px;
}

.cancelputNewPassBtn {
    background-color: rgba(28, 31, 39, 0.05);
    color: rgba(28, 31, 39, 0.8);
    margin-right: 20px;
}

.continueBtn {
    background-color: #7470E9;
    color: #FFFFFF;
}

    .continueBtn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

.continueInputNewPassBtn {
    background-color: #7470E9;
    color: #FFFFFF;
}

    .continueInputNewPassBtn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }


.inputVerifypopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    background-color: #FFFFFF;
    position: relative;
    left: 40%;
    top: 30%;
    border-radius: 8px;
}

    .inputVerifypopup > p:first-child {
        font-size: 20px;
        font-weight: 600;
        margin: 20px;
    }

    .inputVerifypopup > p:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        width: 80%;
    }

        .inputVerifypopup > p:nth-child(2) button {
            background-color: #FFFFFF;
            border: none;
            color: #3866e6;
            text-decoration: underline;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
        }

.verifyCode__popup {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 85%;
}

    .verifyCode__popup > p:first-child {
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0;
    }

    .verifyCode__popup > input {
        height: 48px;
        border: 1px solid #ccc;
    }

        .verifyCode__popup > input:focus {
            border: 1px solid #3866e6;
        }

.inputSetPasspopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    background-color: #FFFFFF;
    position: relative;
    left: 40%;
    top: 30%;
    border-radius: 8px;
}

    .inputSetPasspopup > p:first-child {
        font-size: 20px;
        font-weight: 600;
        margin: 20px;
    }

    .inputSetPasspopup > p:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        width: 80%;
    }

.inputSetNewPasspopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    background-color: #FFFFFF;
    position: relative;
    left: 40%;
    top: 30%;
    border-radius: 8px;
}

    .inputSetNewPasspopup > p:first-child {
        font-size: 20px;
        font-weight: 600;
        margin: 20px;
    }

    .inputSetNewPasspopup > p:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        width: 80%;
    }

.inputOldPass {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    background-color: #FFFFFF;
    position: relative;
    left: 40%;
    top: 30%;
    border-radius: 8px;
}

    .inputOldPass > p:first-child {
        font-size: 20px;
        font-weight: 600;
        margin: 20px;
    }

    .inputOldPass > p:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        width: 80%;
    }


.setPass__popup {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 85%;
}

    .setPass__popup > p:first-child {
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0;
    }

.inputPass {
    width: 100%;
    position: relative;
}

.inputConfirmPass {
    width: 100%;
    position: relative;
}

.inputPass > input {
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
}

    .inputPass > input:focus {
        border: 1px solid #3866e6;
    }

.inputConfirmPass > input {
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
}

    .inputConfirmPass > input:focus {
        border: 1px solid #3866e6;
    }

.inputPass i {
    position: absolute;
    right: 2%;
    top: 35%;
    cursor: pointer;
}

.inputConfirmPass i {
    position: absolute;
    right: 2%;
    top: 35%;
    cursor: pointer;
}

.hide-form {
    display: none;
}

.hide__popup {
    display: none;
}

@media only screen and (max-width: 1440px) {
    .filterDropdown select {
        margin-left: 20%;
        margin-top: -7px;
    }

    .filter .filterDropdown:last-child > .smallTitle {
        margin-left: 20%;
    }

    .editProfile {
        margin-right: 20%;
    }

    .showErrorMessage {
        margin-left: 20%;
    }
}

@-webkit-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@-moz-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@-o-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

.nhapnhay {
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}

@-webkit-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@-moz-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@-o-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

.nhapnhay {
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}

.formRequest {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    /* padding: 20px; */
    flex-direction: column;
}

.formRequest1 {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    flex-direction: column;
}

.formTitle {
    font-size: 24px;
    font-weight: 600;
    color: #7470E9;
    margin-top: 20px;
    margin-left: 20px;
}

#phoneContactInfo {
    /* padding-top: 0px; */
}

.formContactInfo__persionalemail {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contactInfomation .informInput {
    width: 90%;
}

#faceBookContactInfo {
    /* margin-left: 10%; */
}

input#emailContactInfo {
    /* padding-top: 0px; */
}

.container {
    margin-top: 24px;
}
