@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.groupDetails {
    display: flex;
    height: auto;
}

.sidebar--left {
    flex-basis: 15%;
    height: 93vh;
    border: none;
    left: 0;
    overflow-x: hidden;
    position: sticky;
    top: 0;
}


.main {
    height: auto;
    flex-basis: 110%;
    display: flex;
    flex-direction: column;
    background-color: rgba(116, 112, 233, 0.05);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: hidden;
    overflow-x: auto;
}

.formRequest {
    /* display: flex; */
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    flex-direction: column;
}

.formTitle {
    font-size: 24px;
    font-weight: 600;
    color: #7470E9;
}

.sidebar--right {
    flex-basis: 25%;
    height: 110vh;
    border: none;
    left: 0;
    overflow-x: hidden;
    top: 0;
    background-color: rgba(116, 112, 233, 0.05);
}

.bigTitle {
    font-weight: 600;
    font-size: 24px;
    margin: 12px 24px;
}

.informGroup {
    background: #FFFFFF;
    margin: 24px;
    /* width: 94%; */
    padding: 24px;
}

.introGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nameProject {
    display: flex;
    align-items: center;
}

    .nameProject img {
        width: 58px;
        height: 58px;
        border-radius: 8px;
        margin-right: 12px;
    }

.inforGro {
    display: flex;
    flex-direction: column;
}

    .inforGro > p:first-child {
        font-weight: 600;
        font-size: 20px;
    }

    .inforGro > p:last-child {
        font-size: 14px;
        font-weight: 500;
        color: rgba(28, 31, 39, 0.5);
        margin-top: 6px;
        font-style: italic;
    }

.btnAddMem {
    display: flex;
    margin-right: 24px;
    align-items: center;
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(100, 100, 111, 0.8)
}

.content {
    font-size: 16px;
    font-weight: 600;
    /* margin: 12px 0 12px 0; */
}

.keywordText {
    display: flex;
    margin-top: 12px;
}

    .keywordText p {
        padding: 4px 8px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        margin-right: 8px;
    }

.showMember {
    /* margin-top: 18px; */
    display: grid;
    /* flex-basis: 50%; */
    grid-template-columns: 1fr 5fr;
}

.someInforms {
    display: flex;
    /* width: 80%; */
    margin-top: 24px;
    flex-direction: column;
}

.someInforms--top, .someInforms--bottom {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.abbreviations, .vietnamTitle, .professional, .specialty {
    flex-basis: 50%;
    line-height: 24px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
    /* flex-direction: row; */
}


.numMember {
    width: 40%;
    display: flex;
    margin-right: 60px;
    justify-content: space-between;
}

    .numMember span {
        font-weight: 600;
    }

.members {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
}

.showInfomember {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-items: center;
    width: 60%;
}

    .info img {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        margin-right: 12px;
    }

.memInfo a {
    text-decoration: none;
    color: #1C1F27;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    font-style: italic;
}

    .memInfo a:hover {
        text-decoration: underline;
    }

.memInfo p {
    color: rgba(28, 31, 39, 0.5);
    font-weight: 400;
    font-size: 14px;
}

.role {
    font-weight: 600;
    font-size: 14px;
    color: rgba(28, 31, 39, 0.5);
}

.menuMember button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 8px;
    border: none;
    background-color: rgba(28, 31, 39, 0.1);
    transition: all 1s;
}

.menuMember__dropdown {
    width: 200px;
    position: absolute;
    right: 30%;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.show--menuMember__dropdown {
    visibility: visible;
    opacity: 1;
}

.menuMember__dropdown a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #1C1F27;
    padding: 12px;
    width: 100px;
    margin-bottom: 8px;
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s;
}

    .menuMember__dropdown a:hover {
        color: #FFFFFF;
        background-color: #7470E9;
    }


.menuMember button:hover {
    background-color: rgba(28, 31, 39, 0.3);
}

.submitRequestjoin {
    height: 200px;
    width: 90%;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6%;
    padding: 20px;
    border-radius: 8px;
}

    .submitRequestjoin > p:first-child {
        font-weight: 700;
        font-size: 20px;
        color: #7470E9;
        margin-bottom: 12px;
    }

    .submitRequestjoin > p:nth-child(2) {
        font-weight: 400;
        font-size: 12px;
        color: #1b1d23;
        margin-bottom: 14px;
    }

    .submitRequestjoin > p:nth-child(3) {
        font-weight: 400;
        font-size: 12px;
        color: #1b1d23;
        margin-bottom: 14px;
    }

.submitFormRequest {
    height: 40px;
    width: 120px;
    padding: 0 16px;
    background-color: #7470E9;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.allRequestedBtn {
    display: flex;
    width: 90%;
    justify-content: center;
}

.unSend {
    height: 40px;
    width: 120px;
    padding: 0 16px;
    background-color: #ed9a25;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 24px;
}

.check {
    height: 40px;
    width: 120px;
    padding: 0 16px;
    background-color: #009900;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.showForm,
.showDeniedRequestForm {
    width: 100%;
    height: 117vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


.hide-form {
    display: none;
}

.YNpopup {
    width: 32vw;
    height: 21vh;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 35%;
    left: 35%;
}

    .YNpopup > p:first-child {
        font-size: 16px;
        font-weight: 600;
        margin: 40px;
        text-align: center;
    }

.YNbutton {
    display: flex;
    justify-content: space-between;
    width: 17%;
}

    .YNbutton button {
        cursor: pointer;
        width: 100px;
        height: 40px;
        border: none;
        /*margin-top: 1vh;*/
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        background-color: #7470E9;
        color: #FFFFFF;
    }

.formRequest {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* width: 40%; */
    background-color: #FFFFFF;
    /* position: inherit; */
    /* left: 30%; */
    /* top: 25%; */
    border-radius: 8px;
    padding-left: 0px;
}

.formName {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0;
}

.desForm {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 12px;
    padding: 12px;
}

.titleForm {
    font-size: 14px;
    font-weight: 700;
    color: #7470E9;
    margin-left: 14px;
}

#desSelf {
    border-radius: 8px;
    padding: 16px;
    margin: 16px 16px;
    outline: none;
    resize: none;
}

.btnSubmit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

    .btnSubmit button {
        width: 100px;
        height: 40px;
        padding: 0 24px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        margin: 0 24px 24px 0;
    }

.discardBtn {
    background-color: rgba(28, 31, 39, 0.05);
    color: rgba(28, 31, 39, 0.8);
}


.submitBtn {
    color: #FFFFFF;
    background-color: #7470E9;
}

.addToFavorites,
.removeFromFavorites {
    width: 120px;
    height: 45px;
    background-color: #FFFFFF;
    color: #F74055;
    /*color: #1C1F27;*/
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid;
}

    .addToFavorites:hover,
    .removeFromFavorites:hover {
        color: #7470E9;
    }

.hide-btn {
    display: none;
}

.desIdea {
    display: grid;
    /* flex-basis: 50%; */
    grid-template-columns: 1fr 5fr;
    margin-bottom: 20px;
}

.limitCharacter {
    text-overflow: ellipsis;
    width: -webkit-fill-available;
    white-space: nowrap;
    overflow: hidden;
}