@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB+Garamond', sans-serif;
}

body {
    background-color: #7470E9;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.title {
    margin: 10vh 0 40px 0;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    width: 600px;
}

    .title svg {
        width: 40px;
        padding-right: 4px;
    }


.formForgotPass, .verification {
    position: relative;
    background-color: whitesmoke;
    padding-top: 32px;
    height: 400px;
    width: 480px;
    border-radius: 20px;
}

.intro {
    text-align: center;
    padding-bottom: 32px;
}

    .intro > h1 {
        font-size: 24px;
        padding-bottom: 8px;
    }

    .intro > p {
        font-size: 16px;
        color: rgba(28, 31, 39, 0.5);
    }

.input-field {
    display: flex;
    flex-direction: column;
    margin: 8px 20px 0 20px;
}

    .input-field span {
        font-weight: 700;
        min-width: 60vw;
        padding-bottom: 16px;
        font-size: 14px;
    }

    .input-field input {
        /* width: 404px; */
        height: 56px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px 16px 20px 24px;
        outline: none;
    }


        .input-field input:is(:focus) {
            border: 1px solid #4585F4;
        }

.buttonForgotPage, .buttonVerifiPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.button {
    width: 90px;
    height: 48px;
    padding: 0 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #7470E9;
}

#backSignIn, #backForgotPassPage {
    margin-right: 20px;
    text-decoration: none;
    width: 90px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #7470E9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#verify:disabled {
    opacity: .7;
    cursor: not-allowed
}

.inputOTP {
    display: flex;
    justify-content: center;
}

.inputNumOTP {
    width: 360px;
    margin-left: 92px;
    outline: none;
    letter-spacing: 0.5ch;
    outline: none;
    border: none;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 9ch 2px no-repeat;
    font: 6ch droid sans mono, consolas, monospace;
    caret-color: transparent;
}

    .inputNumOTP:focus {
        outline: none;
    }

.buttonVerifiPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#textError {
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
    padding-bottom: 10px;
}

.showErrorMessage {
    font-size: 16px;
    font-weight: 600;
    color: #F74055;
    width: 80%;
    text-align: start;
    margin-top: 12px;
}

@media only screen and (max-width: 1440px) {
    .title {
        padding-top: 20px;
    }
}

.formForgotPass {
    position: absolute;
    width: 600px;
    /* height: 530px; */
    max-width: 600px;
    /* max-height: 530px; */
    background-color: #ffffff;
    border-radius: 40px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .formForgotPass::before {
        position: absolute;
        width: 170%;
        height: 170%;
        content: '';
        background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
        animation: rotate_border 6s linear infinite;
    }

    .formForgotPass::after {
        position: absolute;
        width: 170%;
        height: 170%;
        content: '';
        background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
        animation: rotate_border 6s linear infinite;
        animation-delay: -3s;
    }

@keyframes rotate_border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.formForgotPass {
    position: absolute;
    content: '';
    background-color: #ffffff;
    border-radius: 40px 5px;
    /* inset: 5px; */
    padding: 50px 40px;
    z-index: 10;
    /* margin-bottom: 900000px; */
}

.formForgot {
    position: absolute;
    content: '';
    background-color: #ffffff;
    border-radius: 40px 5px;
    inset: 5px;
    padding: 50px 40px;
    z-index: 10;
    /* width: 567px; */
    /* height: 450px; */
}

/**/
.verification {
    position: absolute;
    width: 600px;
    /* height: 530px; */
    max-width: 600px;
    /* max-height: 530px; */
    background-color: #ffffff;
    border-radius: 40px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .verification::before {
        position: absolute;
        width: 170%;
        height: 170%;
        content: '';
        background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
        animation: rotate_border 6s linear infinite;
    }

    .verification::after {
        position: absolute;
        width: 170%;
        height: 170%;
        content: '';
        background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
        animation: rotate_border 6s linear infinite;
        animation-delay: -3s;
    }

@keyframes rotate_border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.verification {
    position: absolute;
    content: '';
    background-color: #ffffff;
    border-radius: 40px 5px;
    /* inset: 5px; */
    padding: 50px 40px;
    z-index: 10;
    /* margin-bottom: 900000px; */
}

.formForgot {
    position: absolute;
    content: '';
    background-color: #ffffff;
    border-radius: 40px 5px;
    inset: 5px;
    padding: 50px 40px;
    z-index: 10;
    /* width: 567px; */
    /* height: 450px; */
}
