/* forgotPassword.css */

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #7F00FF, #E100FF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgotPass {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

    .title svg {
        margin-right: 10px;
    }

    .title p {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

.formForgot {
    text-align: center;
}

.intro h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

#textError {
    color: red; /* Đặt màu chữ là đỏ cho thông báo lỗi */
    font-weight: bold;
    margin: 10px 0;
}

.input-field {
    margin-bottom: 15px;
    text-align: left;
}

    .input-field span {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input-field input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

        .input-field input:focus {
            border-color: #007bff;
            outline: none;
        }

.buttonForgotPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#backSignIn {
    text-decoration: none;
    color: #007bff; /* Màu xanh cho link quay lại */
    font-weight: bold;
}

.button {
    background-color: #007bff; /* Màu nền cho nút gửi */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

    .button:hover {
        background-color: #0056b3; /* Màu nền khi hover */
    }
