@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#viewIdeaMentor {
    display: flex;
    height: auto;
}


.sidebar--left {
    flex-basis: 15%;
    height: 93vh;
    border: none;
    left: 0;
    overflow-x: hidden;
    position: sticky;
    top: 0;
}

.main {
    height: auto;
    flex-basis: 120%;
    display: flex;
    flex-direction: column;
    background-color: rgba(116, 112, 233, 0.05);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: hidden;
    overflow-x: auto;
}

.formSupport {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    /* margin: 20px; */
    flex-direction: column;
}

.formTitle {
    font-size: 24px;
    font-weight: 600;
    color: #7470E9;
    /* margin: 32px 0 8px 0; */
}

.titlePage {
    margin: 16px 20px;
    color: #1C1F27;
    font-weight: 600;
    font-size: 20px;
}

.filterButton {
    height: 40px;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    /* margin-left: 16px; */
    cursor: pointer;
    color: #7470E9;
    background-color: rgba(116, 112, 233, 0.2);
    width: 100px;
    /* text-align: center; */
}

.requestMain {
    margin-left: 24px;
    margin-right: 24px;
    /* width: 95%; */
    border-radius: 8px;
    background-color: #FFFFFF;
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 24px;
}

.titleRequest {
    width: 100%;
    display: grid;
    height: 45px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: rgba(28, 31, 39, 0.5);
    /* padding: 16px; */
    border-bottom: 1px solid #1c1f27;
    /* margin: 0 16px; */
    grid-template-columns: 3fr 3fr 1fr 2fr 1fr;
}

.informSupportRequest {
    width: 100%;
    display: grid;
    /* align-items: center; */
    font-size: 14px;
    font-weight: 500;
    color: #1C1F27;
    padding: 16px 0px 16px 0px;
    /* margin: 0 16px 20px 16px; */
    border-bottom: 1px solid #ccc;
    grid-template-columns: 3fr 3fr 1fr 2fr 1fr;
    align-items: baseline;
}



@media screen and (max-width: 1440px) {
    .titlePage {
        margin: 12px;
    }

    .requestHeader {
        margin: 0 12px;
    }

    .requestMain {
        margin: 24px;
    }
}

.filter {
    width: 100%;
    display: flex;
    margin: 12px 0;
    height: 40px;
    justify-content: center;
}

.filterDropdown {
    min-width: 160px;
    position: relative;
    margin-right: 12px;
}

    .filterDropdown * {
        box-sizing: border-box;
    }

.filter select {
    height: 40px;
    width: 200px;
    background: rgba(116, 112, 233, 0.05);
    border: 2px #2a2f3b solid;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #ccc;
    transition: 0.3s;
    margin-right: 12px;
    text-align: center;
}

.gridcolumn {
    display: flex;
    margin-bottom: 10px;
}

    .gridcolumn label {
        /* FONT-WEIGHT: 500; */
        flex-basis: 40%;
        padding-left: 10%;
    }

    .gridcolumn input {
        width: 300px;
        flex-basis: 50%;
    }

    .gridcolumn select {
        /* width: initial; */
        flex-basis: 50%;
    }

.button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.listform {
    margin-left: 20%;
    display: grid;
    margin-right: 20%;
}

p.col-sm-3 {
    padding-right: 10px;
    /* margin-right: 10px; */
    word-break: break-all;
}

p.col-sm-2 {
    padding-right: 10px;
    word-break: break-all;
}

.limitCharacter {
    text-overflow: ellipsis;
    width: -webkit-fill-available;
    white-space: nowrap;
    overflow: hidden;
}

.informSupportRequest:hover {
    background-color: #ccc
}
