@{
    Layout = "/Views/Shared/Staff/_LayoutStaff.cshtml";
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/student/student_homepage.css">
<div class="homepage" id="homepage">
    @await Html.PartialAsync("/Views/Shared/Staff/_LayoutSidebarLeftStaff.cshtml")
    <div class="main">

    </div>
</div>


